#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
%:
	dh $@ 

override_dh_auto_configure:
	sed "s/%TOKEN%/$SECRET1/" src/cfg/zadroteeque.json.in > src/cfg/zadroteeque.json

override_dh_auto_clean:
	rm src/cfg/zadroteeque.json
